.taskDiv{
    width:95%;
    height: max-content;
    padding:20px 20px;
    background:teal;
    box-shadow:rgba(0,0,0,0.24) 0px 3px 8px;
    border-radius: 10px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition:scale 0.5s linear;
}
.taskDiv:hover{
    scale:1.02;
}
.taskActionDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskBtnDiv{
    display: flex;
    gap:2px;
}
.taskBtnDiv button{
    width: max-content;
    height:max-content;
    padding:5px 6px;
    border:none;
    border-radius:100%;
    background-color: transparent;

}
.taskBtnDiv button:hover{
    cursor:pointer;
    color:whitesmoke;
}
.taskBtnDiv button:hover::-ms-tooltip{
    cursor:pointer;
    color:whitesmoke;
}


@media (0px <= width <= 499px){
  .taskDiv{ 
    width:95%;
    margin:auto;
    
  }
}
@media (500px <= width <= 900px){
  .taskDiv{
    width:48%;
    margin:auto;
  }
}
@media (width > 900px){
   .taskDiv{
     width:31.5%;
     height:100px;
     margin:auto;
   }
}

