 .Task{
    width:100%;
    height: max-content;
    background-color:#222;
    border:3px solid #00abf0;
    padding:10px 10px;
     border-radius: 5px;
    }
.Task .BtnContainer{
    position: relative;
    width:100%;
    height: max-content;
    border-bottom:0.5px solid #00abf0;
    padding:0px 0px 5px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap:10px;
}
.Task .check::checkbox{
    width:100px;
    height:10px;
}
.Task .BtnContainer button{
    width:max-content;
    height: max-content;
    padding:6px 13px;
    border-radius: 50%;
    background-color:#333;
    border:3px solid #00abf0;
    font-weight: bold;
    font-size:1rem;
    color:white;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Task .BtnContainer #updateBtn{
    border-color:lightgreen;
    color:darkseagreen;
}
.Task .BtnContainer #deleteBtn{
   color:crimson;
   border-color:red;

}

.Task .TaskText{
    width:100%;
    min-height: 50px;
    max-height: max-content;
    padding:8px 15px;
    color:white;
    font-weight: bold;
}
.Task .BtnContainer .TaskDate{
    
    width:max-content;
    height:max-content;
    padding:10px 13px;
    text-align: right;
    color:white;
    font-weight: bold;
    margin-right: auto;


}