.alertDiv{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    gap:5px;
    position:absolute;
    transition:transform 1s linear;
}
.alertContent{
    width:400px;
    background-color:rgba(0, 128, 128,0.8);
    box-shadow:rgba(0,0,0,0.24) 0px 3px 8px;
    padding:30px 0;
    border-radius: 10px;
    margin-top:20px;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap:3px;
    
}
.alertContent p{
    color:white;
    font-size:1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alertDiv button{
    background-color: transparent;
    border: none;
}
@media (width <= 400px){
    .alertContent{
        width:300px; 
    }
}