.updateDiv{
    position: absolute;
    width:100vw;
    height:80vh;
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.updateContent{
    width:500px;
    background-color:whitesmoke;
    box-shadow:rgba(0,0,0,0.24) 0px 3px 8px;
    border-radius:20px;
    padding:80px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;

}
.updateDiv h1{
    width:100%;
    color:black;

    text-align: center;
    font-weight: bold;
}
.updateDiv input{
    width: 80%;
    height: 40px;
    border:2px solid rgba(0,0,0,0.2);
    color:black;
    outline: none;
    font-size: 1rem;
    text-indent: 10px;
    background:transparent;
    
}
.updateDiv input::placeholder{
    color:rgba(245, 245, 245,0.5);
}
.updateDiv .updateBtnDiv{
    width:80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
.updateDiv .updateBtnDiv button{
    flex-basis: 50%;
    height:45px;
    flex-grow:0.5;
    border:none;
    border-radius: 5px;
    background-color:teal;
    box-shadow:rgba(0,0,0,0.24) 0px 3px 8px;
    color:white;
    transition: transform 5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.updateBtnDiv button:hover{
    cursor:pointer;
}
.updateBtnDiv button:active{
    transform:scale(1.2);
    color:green;
}
@media (0px <= width <= 499px){
    .updateContent{
        width:80%;
    }
    .updateDiv .updateBtnDiv{
        flex-direction: column;
        gap:5px;
    }
    .updateDiv .updateBtnDiv button{
        width:100%;
        padding:10px 5px;
    }
    .updateDiv .updateBtnDiv .updateUpdateBtn{
        order:1;
    }
    .updateDiv .updateBtnDiv .updateCancelBtn{
        order:2;
    }

}
@media (500px <= width <= 900px){
    .updateContent{
        width:400px;
    }
     .updateDiv .updateBtnDiv{
        flex-direction: column;
        gap:5px;
    }
    .updateDiv .updateBtnDiv button{
        width:100%;
        padding:10px 5px;
    }
    .updateDiv .updateBtnDiv .updateUpdateBtn{
        order:1;
    }
    .updateDiv .updateBtnDiv .updateCancelBtn{
        order:2;
    }
}

